<div class="container">

	<div class="page-header">
		<h1>Welcome to Succora</h1>
	</div>

	<div class="container page-space">
		<div class="col-md-11">
			<h3>About Us.</h3>
			<p>A brand new crowd funding platform for environmental entrepreneurs and organizations to build support, raise capital, educate and fund sustainable projects.</p>

			<p>.org looks to support initiatives that address the future of the environment we all share, such as Sustainable energy, Agriculture, Fisheries, Mining, Transportation, Biodiversity, Scientific Research, Government, Laws & Regulation and Consumer products.</p>

			<p>Are you ready to launch or support a project that has a positive effect on the world we live in?</p>
		</div>
	</div>
	
	<div class="container">
		<div class="col-md-5 col-md-offset-3">
			<%= link_to "Sign Up", new_detail_path, class: "btn btn-success btn-block" %>
		</div>
	</div>

	
	<div class="container page-space">
	<div class="col-md-11">
		<h3> Frequently ask Questions </h3>
			<h4>What is Succora?</h4>
						
						<p>Succora.org is an online social fundraising platform for organisations, entrepreneurs, activists and creative people to share evironmentally friendly projects with a broad community, educating and raising the funds to make these projects a reality.</p>

			<h4>What is Crowdfunding?</h4>

						 

						<p>Crowdfunding is a way for creators and backers to work together to make projects happen. By gaining support and pooling funds from a 'crowd' of supporters great ideas are brought to life. </p>

			<h4>How does it work?</h4>

						<p>Project creators looking to raise funds for projects have the opportunity to register an effiective, attractive and social project page with succora.org, complete with a funding goal and time to achieve this goal. The creator then sets out on a campaign to spread the word and educate potential backers in fun and inventive ways. Backers can then register and pledge funds towards projects that they identify with and want to see exist in the world.</p>

			<h4>All or nothing?</h4>

						<p>Succora uses a crowdfunding method known as 'All-or-nothing'. This means that in order for a project to recieve funding it must reach or exceed the target amount set for the campaign. If a project does not reach its goal by the set date then no money changes hands. Each project is the independent creation of the campaigner, they have complete control over their project. We offer all or nothing funding because project creators put a lot of effort into calculated the funds the required amount to bring their idea to life and we would hate to see a project be expected to be completed with a fraction of this amount. All or nothing takes a lot of the risk out of crowdfunding for both creators and backers and makes it a more fun and enjoyable experience for everyone.</p>

			<h4>100% ownership?</h4>

						<p>At this time Succora does not offer equity based crowdfunding. This means that the funds offered by backers are in support of great ideas, not financial gain. However, creators are required to offer rewards as a thank you to backers.</p>

			<h4>Who is eligible?</h4>

						<p>To create a project on succora.org you must be Australian resident, business or organisation and be over the age of 18. Don't worry 'rest of the world' you will get your chance really soon!</p>

			<h4>Are projects reviewed?</h4>

						<p>Yes. The Succora team quickly checks over the project page to make sure it complies with our project guidelines and is not offensive or misleading.</p>

			<h4>Before you launch your project!</h4>

						<p>Running a crowdfunding campaign is fun but it is also a lot of work. To make sure you are ready you should:</p>
						<ul>
						<li>Create a plan for promoting your campaign. (how will you reach your audience?).</li>

						<li>Work out you budget. (including the funding goal you will need to make your project happen).</li>

						<li>Decide on some awesome rewards you can offer to thank your backers.</li>
					</ul>

			<h4>Project duration.</h4>

						<p>Projects can range from 1-90 days. However, projects with a shorter duration (30-50 days) are more likely to be successful, creating a call to action that the longer campaigns don't. If you feel that you need to run a longer project campaign we suggest you come up with a good reason that you can communicate with backers.</p>

			<h4>Are rewards a requirement?</h4>

						<p>Rewards are a fundamental part of crowdfunding, they are a great way to both encourage people to donate to your project as well as thank them for their input. Rewards can be items produced by the project or experiences the project creator is able to offer. Get creative with rewards, make them fun and you are more likely to be successful in your campaign.</p>

			<h4>Does Succora charge any fees?</h4>

						<p>Succora is a little different from other crowdfunding sites and we like to think we are unique! The site is free to register use. A 5% service fee applies to the GOAL amount of successful projects (this is pretty standard). However, if a project raises more than its goal amount we will continue to apply that 5% fee to the goal amount only, not the total amount raised! We consider this our personal investment in and thank you to our project creators, because we want to see what you can achieve, and the difference we can make together!</p>

			<h4>Categories?</h4>

						<p>Succora supports projects in the following areas: Sustainability, Clean energy, Agriculture, Alternative fuels, Fisheries, Transportation, Biodiversity, Waste, Scientific research, Government, Laws and Regulation and Consumer Products. To suggest new categories please contact us at support@succora.org</p>

			<h4>Can charities use succora?</h4>

						<p>No. you can not use succora to raise funds for your charity on Succora.org. However, If your charity or cause requires funds for a specific project then you are able to register with us, however, this must be clearly stated and communicated with your backers.</p>


						<p>If we havn't covered your question here please contact us at support@succora.org</p>


	</div>
</div>

</div>
