<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("background.jpg") %>
      <div class="carousel-caption">
       
<h1> Welcome to Succora</h1>
<p> A new way to raise funds for environmental projects</p>
<% if user_signed_in? %>
    <%= link_to "Get Started", edit_user_registration_path, class: "btn btn-success btn-lg" %>
    <% else %>
    <%= link_to "Register", register_path, class: "btn btn-success btn-lg" %>
<% end %>
      </div>
    </div>
 </div>
</div>

