<div class="container">

	<div class="page-header">
		<h1>Privacy policy.</h1>
	</div>
	<div class="privacy col-md-9 col-md-offset-1">

			<p>At Succora.org your privacy is very important to us. Before signing up to our site you must read and agree to this privacy policy. In the process of providing our service we collect, use and if necessary disclose the information you provide to third parties. This page contains the privacy policy that governs the way that information is used on this site. By accepting this privacy policy you expressly consent to the use of your personal information as described below. The policy on this page applies to the website located at http://www.succora.org (collectively the "site"). We endeavor to make our policies as consistant as posible across the site.</p>

 

			<p>1. collection of information. We may collect the following information about you: - Login &amp password details in connection with your account. - Personal information such as your name, date of birth, address, phone number, email, gender and location. - Details of transactions made by you. - communincations exchanged with us. - content you post on the site. - IP addresses.</p>

			 

			<p>2. How we use this information. We will use this information to: - Identify you when you sign-in to your account. - Enable us to provide you with services. - Send you information we think you may find useful or which you have requested from us. - Present projects to you when you use the Service which we believe will be of interest based on your geographic location and previous use of the Service. - Administer your account with us. - Enable us to contact you regarding any question you have about the Service. - Analyze the use of the Service and the people visiting to improve our content and Services. - As well as any other purpose that we may disclose to you when we request your information.</p>

			 

			<p>3. Children and persons under the age of 18. - Persons under 18 years old are not able to register or use this site without the permission and supervision of a parent or guardian.</p>

			 

			<p>4. Communication. - We want to communicate with you only if you want to hear from us. - We try to keep emails to a minimum and give you the ability to opt out when we can. - We will send you email relating to your personal transactions. We will keep these emails to a minimum. - You will also receive certain email notifications, for which you may opt-out. - We may send you service-related announcements when it is necessary to do so.</p>

			 

			<p>5. Voluntary Disclosure. - Any personal information or content that you voluntarily disclose in public areas of the Site becomes publicly available and can be collected and used by other users. - You should exercise caution before disclosing your personal information through these public venues. - Project Creators never receive the credit card information of backers.</p>

			 

			<p>Notice - We may change this Privacy Policy from time to time based our need to accurately reflect our data collection and disclosure practices. It is your responsibility to check this page periodically for changes, the continued use of this site implies your express acceptance of the policies on this page.</p>

			<p>If you have any questions, please contact support@succora.org</p>
	</div>

</div>