// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
	border-bottom: 1px solid #CCC;
	padding: 5px 0;
}

.news p {
	padding: 5px 0;
}
