// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	margin-top: 50px;
}

#description {
	padding-top: 50px;
}

#wellpad {
	padding-top: 10px;
}

.project {
	padding-bottom: 100px;
}