// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header {
	background-color: #5cb85c;
	padding: 200px 0;
}

.jumbotron {
	background-color: #55564A;
	text-align: center;
	padding: 100px 0;
}



