// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.navbar {
	margin-bottom: 0;
}


.navbar-nav li {
	margin-right: 35px;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-nav li a {
	color: #FFF;
}


.jumbotron { 
margin-bottom: 10px;
padding-top: 48px;
padding-bottom: 200px;
color: #FFF;
height: 650px;
background: url(background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.container-fluid {
	padding-top: 100px;
}



