// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.carousel-caption {
			top: 35%;
			text-align: left;
			left: 9%;
			right: 20%;
			}

.carousel-caption h1 {
	padding: 5px 0;
}

.carousel-caption p {
	padding: 5px 0;
}

.col-md-4 {
	border: 1px solid #FFF;
	background-color: #FFF;
	padding: 15px;
	margin: 0 10px;
	width: 30%;
	text-align: center;
}

