<div class="container">

	<div class="page-header col-md-offset-1">
		<h1>Build support | Raise capital | Educate | Make a difference</h1>
	</div>
	

		<div class="row jumbotron">
			<div class="col-md-6">
				<h2> Be notified when we go live.</h2>
				<p>The Succora team will be in touch soon with more details about our up coming launch.</p>
			</div>
			<div class="col-md-6">
				<%= render 'form' %>
        
			</div>
		</div>
	
</div>


